################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
